.focused {
  transform: translate(-15px, -20px);
font-size: .5rem;
  transition: all 100ms;
}

.labelText {
    transition: all 100ms;
}

.label:has(input[type="text"]),
.label:has(input[type="email"]),
.label:has(input[type="phone"]) {
  display: grid;
  width: fit-content;
  align-items: center;
}

.label input[type="text"] ~ .labelText,
.label input[type="email"] ~ .labelText,
.label input[type="phone"] ~ .labelText,
.label input[type="text"],
.label input[type="email"],
.label input[type="phone"] {
  grid-area: 1/1;
  padding: 1.2rem;
}

.input {
  min-width: 20rem;
}

.label input[type="radio"] ~ .labelText {
  color: red;
  /* opacity: 0; */
}

/* .shiftPlaceholder {
  animation: shiftPlaceholder 100ms;
}

@keyframes shiftPlaceholder {
  from {
    top: 1rem;
    left: 1rem;
    scale: 1;
  }
  to {
    top: 0;
    left: 0;
    scale: 0.5;
  }
} */
