@media (prefers-reduced-motion: no-preference) {
  .focused {
    transform: translate(-15px, -20px);
    font-size: 0.8rem;
    transition: all 100ms;
  }

  .labelText {
    transition: all 100ms;
  }
}

@media (prefers-reduced-motion: reduce) {
  .labelText {
    transform: translate(-15px, -20px);
    font-size: 0.8rem;
  }
}

.label:has(input[type="text"]),
.label:has(input[type="email"]),
.label:has(input[type="phone"]) {
  display: grid;
  width: fit-content;
  align-items: center;
}

.label input[type="text"] ~ .labelText,
.label input[type="email"] ~ .labelText,
.label input[type="phone"] ~ .labelText,
.label input[type="text"],
.label input[type="email"],
.label input[type="phone"] {
  grid-area: 1/1;
  padding: 1.2rem;
}

.input {
  min-width: 20rem;
}
