.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inputContainer {
  position: relative;
}

.inputPlaceholder {
  position: absolute;
  top: 1rem;
  left: 1rem;
  pointer-events: none;
}

.shiftPlaceholder {
  animation: shiftPlaceholder 100ms;
}

@keyframes shiftPlaceholder {
  from {
    top: 1rem;
    left: 1rem;
    scale: 1;
  }
  to {
    top: 0;
    left: 0;
    scale: 0.5;
  }
}

.input {
  &[type="checkbox"] {
    background-color: lime;
    appearance: none;
    padding: 0.5rem;
  }

  &[type="email"] {
    background-color: red;
    padding: 1rem;
  }

  &[type="text"] {
    background-color: green;
    padding: 1rem;
  }

  &[type="phone"] {
    background-color: blue;
    padding: 1rem;
  }
}
